.filter-input {
  width: 80vw;
  max-width: 30%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.table {
  background-color: #333; 
  color: white; 
  border-collapse: collapse; 
  width: 100%; 
}

.table-hover {
  tr:hover {
    background-color: #222; 
  }
}

.table {
  th {
    background-color: #222; 
  }

  th, td {
    padding: 30px; 
    border: 1px solid white; 
  }

  .no-customers {
    background-color: #444; 
  }
}
